$separator-line-color: #444;

body {
	background-color: #333;
	color: #ccc;
	font-family: sans-serif;
	padding: 0 1rem;

	h1 {
		color: rgb(204, 168, 101);
	}

	.examples {
		display: flex;
		flex-direction: column;

		.example {
			border-top: 1px solid $separator-line-color;
			padding-top: 1rem;
			padding-bottom: 1rem;

			&:last-of-type {
				border-bottom: 1px solid $separator-line-color;
			}
		}

	}
}